@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Encode Sans", sans-serif;
}

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

header img,
footer img {
  max-height: 48px;
}

/* HEADER */
#header-ministerioDesarrollo {
  height: 64px;
  background: #37bbed;
  box-shadow: 0px 1px 5px 2px #3a3a3a3f !important;
  z-index: 999;
}

#headerColUno, #headerColDos{
  height: 64px;
}

/* USER MENU */

#header-ministerioDesarrollo .userMenu .dropdown i{
  font-size: 18px;
  color: #1072bb;
  padding: 4px 8px 5px 8px;
  border-radius: 50%;
  background-color: #ffffff;
}

#header-ministerioDesarrollo .dropdown-menu{
  background-color: #1072bb;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #ffff;
  text-decoration: none;
  border-radius: 10px;
}

#datosUsuario{
  background-color: #115f98;
  padding: 6px 14px;
  border-radius: 10px 10px 0px 0px;
}

#header-ministerioDesarrollo .dropdown-menu hr{
  color: #ffff;
  margin: 0px;
}

#header-ministerioDesarrollo .dropdown-menu li {
  text-decoration: none;
  color: #ffff;
  padding: 10px 20px;
}

#header-ministerioDesarrollo .dropdown-menu li a{
  color: #ffff;
  text-decoration: none;
font-weight: 600;
}

#header-ministerioDesarrollo .dropdown-menu li a:hover{
  color: #dddddd;
}

#inicioMenu, #solicitudesMenu, #usuarioMenu{
  max-height: 32px !important;
}


/* BOTONES MENU */

.btn-userMenuHome{
  color: #1072bb !important;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 14px;
}

.btn-userMenuHome i{
  color: #1072bb;
  font-size: 26px !important;
}

.btn-userMenuSolicitud{
  color: #1072bb !important;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 9px 7px 7px 13px;
  text-decoration: none;
  font-size: 14px;
}

.btn-userMenuSolicitud i{
  color: #1072bb;
  font-size: 20px !important;
}

/* FOOTER */

#footer-ministerioDesarrollo {
  height: 100px;
  background: #37bbed;
  z-index: 999;
}

#footerColUno, #footerColDos{
  height: 100px;
}

@media (min-width: 768px) {

  #header-ministerioDesarrollo .userMenu .dropdown i:hover{
    color: #37bbed;
    transition: 0.3s;
  }

  .btn-userMenuHome{
    color: #1072bb !important;
    font-weight: 600;
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 50rem!important;
    transition: 0.3s;
  }
  .btn-userMenuHome:hover{
    transition: 0.3s;
    color: #37bbed !important;
  }
  
  .btn-userMenuSolicitud{
    color: #1072bb !important;
    font-weight: 600;
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 50rem!important;
    transition: 0.3s;
  }

  .btn-userMenuSolicitud:hover{
    color: #37bbed !important;
  }

}

@media (min-width: 1400px) {
  .btn-userMenuHome{
    font-size: 16px;
  }

  .btn-userMenuSolicitud{
    font-size: 16px;
  }
}
