.perfilContenedor {
    padding-top: 20px;
    padding-bottom: 60px;
}

#cardPerfil p {
    font-size: 18px;
}


#headerPerfil p {
    text-align: center;
    background-color: #37bbed;
    color: #ffff;
    border-radius: 6px 6px 0px 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    margin: 0px;
}

#footerPerfil p {
    background-color: #37bbed;
    border-radius: 0px 0px 6px 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px;
}

#emailInput {
    height: 42px;
}

.perfilContenedor .iconoEdit {
    font-size: 20px;
    background-color: #f7f7f7;
    padding: 6px 10px 4px 10px;
    border: 1px solid #ced4da;
    color: #707070;

}

#terminosCond {
    font-size: 13px;
}

.perfilContenedor .bg-terminos {
    background-color: #edf5fa;
    padding: 10px 0px 10px 0px;
    border: 1px solid #0072bb;
    border-radius: 6px 6px 6px 6px;
}

.perfilContenedor .bi-file-earmark-text-fill {
    font-size: 60px;
    color: #0072bb;
}

#acceptTerms {
    height: 20px;
    width: 20px;
}

.perfilContenedor .terminosyc {
    color: #0072bb;
}

@media (min-width: 768px) {
    .perfilContenedor .bg-terminos {
        background-color: #edf5fa;
        padding: 10px 10px 10px 20px;
        border: 1px solid #0072bb;
        border-radius: 6px 6px 6px 6px;
    }
}